<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="col-md-3 col-md-pull-9">
    <h2>Sitemap for GoC Working Group</h2>
    <ul class="list-group menu list-unstyled">
        <li>
            <h3 class="wb-navcurr">Sitemap</h3>
            <ul class="list-group menu list-unstyled">
                {{ $currentPage := . }}
                {{ range .Site.Menus.meetup }}
                    {{ $name := lower .Name }}
                    {{ if .HasChildren }}
                    <li{{if $currentPage.IsMenuCurrent "meetup" . }} class="docmenu active"{{else}} class="docmenu"{{end}}>
                        <a href="#" id="btn-{{$name}}" data-toggle="collapse" data-target="#submenu-{{$name}}" aria-expanded="true" class="toggle-custom list-group-item">{{ .Name }}<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></a>
                        <ul id="submenu-{{$name}}" role="menu" aria-labelledby="btn-1" class=" list-group menu list-unstyled">
                            {{ range .Children }}
                            {{if $currentPage.IsMenuCurrent "meetup" . }}
                                <li class="current_page active">
                                    <a href="{{.URL}}" class="list-group-item active">{{ .Name }}</a>
                                </li>
                                {{else}}
                                <li>
                                    <a href="{{.URL}}" class="list-group-item">{{ .Name }}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    {{else}}
                    <li>
                        <a href="{{.URL}}" class="list-group-item">{{ .Name }}</a>
                    {{end}}
                    </li>
              {{end}}
            </ul>
        </li>
    </ul>
</nav>
